flet==0.80.2
flet-desktop==0.80.2
pandas==2.3.3
openpyxl==3.1.5
python-docx==1.2.0
python-pptx==1.0.2
reportlab==4.4.7
fpdf2==2.8.5
xlsxwriter==3.2.9
requests==2.32.5
httpx==0.28.1
numpy==2.4.1
pytz==2025.2
repath==0.9.0
lxml==6.0.2
pillow==12.1.0
python-dateutil==2.9.0.post0
typing_extensions==4.15.0
anyio==4.12.1
certifi==2026.1.4
charset-normalizer==3.4.4
defusedxml==0.7.1
et_xmlfile==2.0.0
fonttools==4.61.1
h11==0.16.0
httpcore==1.0.9
idna==3.11
msgpack==1.1.2
oauthlib==3.3.1
six==1.17.0
tzdata==2025.3
urllib3==2.6.3
